@page {
    margin: 0;
}
html{
    margin: 0;
}
body{
    margin-top: 77mm;
    margin-bottom: 38mm;
}	

input[type=radio] { display: inline; }
input[type=radio]:before { font-family: DejaVu Sans; }

#imgtitulo, #imgpie{
    width: 216mm;
}
#imgpie_formato{
    width: 80mm;
}
#imgencabezadop{
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;	
}
#imgenpiedepaginap{
    position: fixed;
    z-index: -1;
    top: 275mm;
    left: 70mm; 
}
#firmacartera{
    position: fixed;
    z-index: -1;
    top: 251mm;
    left: 13mm; 
}
#firmacartera img{
    width: 170px;    
}
.radicacion{
    position: fixed;
    z-index: -1;
    top: 20mm ;
    margin: 0 auto;
    margin-top: -5mm;
}
.radicacion ul{
    padding: 0;
    padding-left: 5mm;
    list-style-type: none;
}
.radicacion ul li{
    display: inline;
}
.radicacion ul li u{
    display: inline;
    background: rgba(158, 158, 158, 0.09);
    padding-right: 6mm;
    padding-left: 6mm;
    text-decoration: none;
    font-size: 14px;
}
.radicacion ul li b{
    padding-right: 3mm;
    text-transform: capitalize;
}
.titulo_pedido {
    position: fixed;
    z-index: -1;
    top: 25mm;
    margin-top: 6mm;
    margin-left: 3mm;
}
.titulo_pedido table{
    font-size: 11px;
    margin-top: 5mm;
    border: black 1px solid;
    border-radius: 3px;
    width: 210mm;
    margin: 0 auto;
    /* border-radius: 3mm;*/
}
.titulo_pedido table th{
    font-size: 14px;
    text-align: left;
}
.titulo_pedido .pinta{
    background: rgba(208, 208, 208, 0.5);
    border-color: 2px solid black;
    padding-left: 2px;
}
.cuerpo_pedido table{
    border: black 1px solid;
    border-radius: 50%;
    width: 210mm;
    border-collapse:collapse;
    margin: 0 auto;
   
}
.cuerpo_pedido table tr th{
    font-size: 11px;
    border: black 1px solid;
    text-align: center;
}
.cuerpo_pedido table tr td{
    font-size: 10px;
    height: 6mm;
    border: black 1px solid;
    text-align: center;
   
}
.cuerpo_pedido table tr .descrip{
    text-align: justify;
    padding-left: 2px;
}
.fin_pedido table{
    border: black 1px solid;
    width: 210mm;
    border-collapse:collapse;
    margin: 0 auto;
}
.fin_pedido table tr th{
    font-size: 11px;
    border: black 1px solid;
    text-align: center;
}
.fin_pedido table tr td{
    font-size: 11px;
    border: black 1px solid;
    text-align: center;
}
.fin_pedido1 table{
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-top: black 1px solid;
    width: 210mm;
    margin: 0 auto;
    padding-bottom: 2mm;
}
.fin_pedido1 table tr th{
    font-size: 11px;
    text-align: center;
    height: 7mm;
}
.fin_pedido1 table tr td{
    font-size: 13px;
    text-align: center;
    border-bottom: black 1px solid;
    height: 7mm;
}
.fin_pedido2 table{
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
    width: 210mm;
    margin: 0 auto;
    padding-top: 5mm;
}
.fin_pedido2 table tr th{
    font-size: 11px;
    text-align: center;
    border-top: black 1px solid;
}
.fin_pedido2 table tr td{
    font-size: 13px;
    text-align: center;
    height: 7mm;
}
.posicion{
    position: fixed;
    z-index: -1;
    top: 240mm;
    left: 3mm;	
}

